$borderColor: rgba(#c2c2c2, 0.3);

.transfers {
  &--from-to-block {
    position: relative;

    border-radius: 0.4rem;

    display: flex;
    flex-wrap: nowrap;

    &.bordered {
      border: 1px solid $borderColor;

      .transfers-from {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 1px;
          background-color: $borderColor;
        }

        &::after {
          content: '';
          position: absolute;
          width: 1.8rem;
          height: 1.8rem;
          border-radius: 50%;
          border: 1px solid $borderColor;
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);
          background-color: $white;
          background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='rgba(151,151,151,0.5)'%3E%3Cpath d='M216.464 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887L209.393 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L233.434 36.465c-4.686-4.687-12.284-4.687-16.97 0z'%3E%3C/path%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 0.75rem;
          background-position: center;
        }
      }
    }

    &:not(.bordered) {
      justify-content: space-between;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        border-radius: 50%;
        width: 2.4rem;
        height: 2.4rem;
        @extend %noRepeatImage;
        background-image: url('/images/svg/svg-icons.svg#svgView(viewBox(0,1024,512,512))');
        background-size: 1.125rem;
      }

      > * {
        $mw: calc((100% - 1rem) / 2);
        flex: 0 0 $mw;
        max-width: $mw;
        background-color: $colors-secondary-light;
      }
    }

    > * {
      position: relative;
      min-height: 1px;
      width: auto;
      max-width: 100%;

      flex-basis: 0;
      flex-grow: 1;
      padding-top: 0.85rem;
      padding-bottom: 0.85rem;
    }
  }

  &-from {
    padding-right: 1rem;

    + * {
      margin-left: 1rem;
    }
  }

  &-from,
  &-to {
    font-family: $ff-TheanoDidot;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.11;
    color: $black;
    text-align: center;
  }

  &-select {
    @include media-breakpoint-up(md) {
      .has-after-arrow {
        + * {
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(calc(-100% - 0.6rem), -50%);
            left: 0;
            width: 2.4rem;
            height: 2.4rem;
            background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' fill='rgba(97,97,97,0.5)' viewBox='0 0 512 512'%3E%3Cpath d='M8 256c0 137 111 248 248 248s248-111 248-248S393 8 256 8 8 119 8 256zM256 40c118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216zm12.5 92.5l115.1 115c4.7 4.7 4.7 12.3 0 17l-115.1 115c-4.7 4.7-12.3 4.7-17 0l-6.9-6.9c-4.7-4.7-4.7-12.5.2-17.1l85.6-82.5H140c-6.6 0-12-5.4-12-12v-10c0-6.6 5.4-12 12-12h190.3l-85.6-82.5c-4.8-4.7-4.9-12.4-.2-17.1l6.9-6.9c4.8-4.7 12.4-4.7 17.1 0z'%3E%3C/path%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }

    .t_select {
      &-row {
        display: flex;
        flex-wrap: wrap;

        > * {
          position: relative;
          min-height: 1px;
          width: 100%;
          max-width: 100%;

          @include media-breakpoint-up(xl) {
            width: auto;
            flex: 0 0 auto;

            + * {
              margin-left: 3.4rem;
            }
          }

          @include media-breakpoint-down(sm) {
            + * {
              margin-top: 1.5rem;
            }
          }
        }
      }

      &-col {
        position: relative;
        border-radius: 0.8rem;
        padding: 1rem;
        border: 1px solid rgba(#4b4b4b, 0.5);
      }

      &-list {
        display: flex;
        flex-wrap: wrap;

        label {
          font-family: $ff-TheanoDidot;
          font-size: 1.4rem !important;
          color: $colors-brownish-grey !important;
        }

        > * {
          position: relative;
          min-height: 1px;
          width: 100%;
          max-width: 100%;

          @include media-breakpoint-up(md) {
            width: auto;
            flex: 0 0 auto;

            + * {
              margin-left: 1rem;
            }
          }
        }

        &-item {
          border-radius: 0.2rem;
          border: 1px solid rgba(#4b4b4b, 0.5);
          padding: 0.3rem 1rem;

          @include media-breakpoint-down(sm) {
            + * {
              margin-top: 1rem;
            }
          }
        }

        &-link {
          display: block;
          position: relative;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;

    > * {
      position: relative;
      min-height: 1px;
      width: 100%;
      max-width: 100%;

      @include media-breakpoint-down(lg) {
        + * {
          margin-top: 1rem;
        }
      }

      @include media-breakpoint-up(xl) {
        $offset: 1rem;
        $mw: calc((100% - (#{$offset} * 2)) / 3);

        flex: 0 0 $mw;
        max-width: $mw;

        &:not(:nth-child(3n + 1)) {
          margin-left: $offset;
        }

        &:nth-child(n + 4) {
          margin-top: $offset;
        }
      }

      .image {
        position: relative;
        overflow: hidden;
        border-radius: 0.4rem;
      }
    }

    &-item {
      input[type='radio'] {
        position: absolute;
        opacity: 0;
        z-index: -1;
        visibility: hidden;

        + label {
          display: block;
          height: 100%;
          cursor: pointer;
          border-radius: 0.8em;
          transition: box-shadow $duration;
          box-shadow: (0 0 3px rgba($black, 0));

          &:hover {
            box-shadow: (0 0 5px rgba($black, 0.5));
          }

          .transfers-type {
            span {
              position: relative;
              padding-left: 2.2rem + 1rem;

              &::before {
                content: '';
                position: absolute;
                top: 0.2rem;
                left: 0;
                width: 2.2rem;
                height: 2.2rem;
                border-radius: 0.2rem;
                border: 1px solid rgba($black, 0.5);
              }
            }
          }
        }

        &:checked {
          + label {
            .transfers-type {
              span {
                &::before {
                  background-size: contain;
                  background-position: center;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24' fill='%23312d2c'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
                }
              }
            }
          }
        }
      }

      .bordered-box--inner {
        &.bordered-box--transfer {
          border-radius: 0;
          border-color: $colors-transparent;
          justify-content: space-between;

          &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            background-color: $white;
            transform: translate(-50%, -50%);
            z-index: 1;
          }

          .description {
            font-size: 1.4rem;
          }

          > * {
            border-radius: 0.4rem;
            background-color: $colors-secondary-light;

            $mw: calc((100% - 1rem) / 2);

            flex: 0 0 $mw;
            max-width: $mw;

            &.to {
              border-left: none;

              &:before {
                content: none;
              }
            }
          }
        }
      }
    }
  }

  &-type {
    position: relative;
    border-radius: 0.4rem;
    border: 1px solid rgba(#979797, 0.5);
    padding: 1.25rem 1.5rem;
    line-height: 1.47;

    span {
      font-family: $ff-Didot;
      font-size: 1.8rem;
      font-weight: 700;
      display: block;
    }
  }
}
